@model IEnumerable<BTL.Models.KhachHang>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.TenKH)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.DiaChi)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-kh="@item.MaKH">Edit</a>
                    <a asp-action="Delete" asp-route-kh="@item.MaKH">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>